html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0%;
}

.bg {
  /* scelta immagine bg */
  background-image: url("foto/foto-homepage.jpg");

  /* altezza deve essere 100% */
  height: 100%;

  /* per regolare la foto */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-titolo {
  padding-left: 20px;
  float: left;
  padding-right: 20px;
}

.div-nav {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
}

.img-titolo {
  height: 70px;
}

/* Dropdown bottone */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  background-color: white;
  border: 2px solid #e6e6e6;
  color: #4b3bc4;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* posizone del contenuto del menu */
.dropdown {
  position: relative;
  display: inline-block;
  top: 10px;
}

/* Dropdown Content (Hidden di Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8ac0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links dentro il dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #4b3bc4;
  color: #4b3bc4;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* cambio colore del dropdown links con hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* mostra il dropdown menu con hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* cambia il colore di sfondo del bottone quando il contenuto del dropdown viene mostrato */
.dropdown:hover .dropbtn {
  background-color: #e6e6e6;
}

.link-rowing {
  color: #4b3bc4;;
  text-decoration: none;
  display: block;
}